header {
  background-color: var(--bg-sidebar);
  padding: 1.4rem 2.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow-sm);
  color: var(--bg-body);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.company-name {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  letter-spacing: 0.1em;
}

.main-icon {
  transform: rotate(10deg);
}
