:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.spinner {
  display: inline-block;
  animation: spin 1.8s linear infinite;
  color: var(--primary);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
