.ticket-container {
  padding: 2rem;
}

.ticket-title {
  text-transform: capitalize;
}

.ticket-date {
  font-size: 1.4rem;
  margin-left: 2rem;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.comments {
  margin-top: 8rem;
}

.ticket-media-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.assigned-user {
  color: var(--text-muted);
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
