<div class="ticket-container">
  <app-back-button />
  <header class="page-header">
    <h2 class="page-title">
      Ticket overview: <span class="ticket-title">{{ ticketData().title }}</span>
      <span class="ticket-date">/{{ ticketData().dateCreated | date : 'dd/MM/yyyy' }} </span>
    </h2>
  </header>
  <h3>Asigned user</h3>
  <p class="assigned-user">{{ ticketData().asignedUserName }}</p>
  <h3>Priority</h3>
  <app-priority-flames [priority]="ticketData().priority" />
  <h3>Description</h3>
  <p>{{ ticketData().description }}</p>

  <!-- MEDIA -->
  <h3>
    Ticket Files <span>{{ ticketData().mediaEntries?.length }}</span>
  </h3>
  <div>
    @for (media of ticketData().mediaEntries; track media.id) {
    <div class="ticket-media-row">
      <p>{{ media.relativePath }}</p>
      @if (isViwableFileType(media.relativePath)) {
      <app-button (btnClick)="openFile(media)" [icon]="eyeIcon" [variant]="'secondary'" />
      }@else {
      <app-button
        [loading]="loading()"
        (btnClick)="downloadFile(media)"
        [icon]="downloadIcon"
        [variant]="'secondary'"
      />
      }

      <app-button
        (btnClick)="handleDeleteFile(media.id)"
        [loading]="loading()"
        [icon]="trashIcon"
        [variant]="'secondary'"
      />
    </div>
    }
  </div>

  <div class="comments">
    <h3>
      Comments: <span>{{ ticketData().ticketComments?.length }}</span>
    </h3>
    <app-button (btnClick)="handleOpenModal()" [icon]="plusIcon" text="Add New" />
    <app-ticket-comments [ticketData]="ticketData()" />
  </div>
</div>
