:host {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
  width: 100%;
}

.main-content {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 2rem;
}

.app-init {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: black/10;
}
