<app-ticket-filter *appRole="['user']" />
@if (loading()) {
<div class="container">
  <app-loader />
</div>
}@else if(error()){
<div class="container">
  <p class="error">{{ error() }}</p>
</div>
}@else{
<div class="ticket-board">
  <div class="ticket-column">
    <h2 class="ticket-title todo">To do</h2>
    <div
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      id="todo"
      [cdkDropListData]="todo()"
      [cdkDropListConnectedTo]="['progress', 'done']"
      class="ticket-list"
    >
      @for (item of todo(); track item.id) {
      <app-ticket [ticket]="item" />
      }
    </div>
  </div>

  <div class="ticket-column">
    <h2 class="ticket-title progress">In progress</h2>
    <div
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      id="progress"
      [cdkDropListData]="progress()"
      [cdkDropListConnectedTo]="['todo', 'done']"
      class="ticket-list"
    >
      @for (item of progress(); track item.id) {
      <app-ticket [ticket]="item" />
      }
    </div>
  </div>

  <div class="ticket-column">
    <h2 class="ticket-title done">Done</h2>
    <div
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      id="done"
      [cdkDropListData]="done()"
      [cdkDropListConnectedTo]="['todo', 'progress']"
      class="ticket-list"
    >
      @for (item of done(); track item.id) {
      <app-ticket [ticket]="item" />
      }
    </div>
  </div>
</div>
}
