.ticket-board {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  padding-top: 2rem;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 30rem;
  align-items: center;
}

.ticket-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ticket-column h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.ticket-list {
  border: 1px solid var(--border-main);
  min-height: 60px;
  background: var(--bg-body);
  border-radius: var(--radius-md);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
}

.ticket-list.cdk-drop-list-dragging .ticket-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .ticket-board {
    flex-direction: row;
    align-items: flex-start;
  }

  .ticket-column {
    flex: 1;
  }
}
