:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--border-main);
}

.date {
  color: var(--text-muted);
}

.email {
  font-weight: 500;
}
