.comment-list {
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  max-height: 40rem;
  overflow-y: scroll;
  padding: 2rem;
  border: 1px solid var(--border-light);
  border-radius: var(--radius-sm);
}

.comment-row {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: var(--shadow-md);
  background-color: var(--bg-surface);

  width: 100%;
  border-radius: var(--radius-md);
}

.comment-header {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--border-main);
}

.comment-created {
  color: var(--text-muted);
}

.comment-date {
  font-size: 1.2rem;
  color: var(--text-muted);
}
.comment-content {
  text-transform: capitalize;
}
