<div class="ticket-card {{ ticket().status }}" cdkDrag>
  <header>
    <h3>{{ ticket().title }}</h3>
    <div class="priority-flames">
      @for (i of [1, 2, 3]; track i) { @if (i <= priorityIndicator()) {
      <lucide-icon [img]="flame" color="red" [size]="16"></lucide-icon>
      } }
    </div>
    <app-button size="sm" [loading]="loading()" [icon]="trash" (click)="onDelete(ticket().id)" />
  </header>
  <p>{{ ticket().description }}</p>
  <p>{{ ticket().dateCreated | date : 'dd/MM/yyyy' }}</p>
</div>
